.navbar{
  margin: 0 auto;
  height: 70px;
  width: 100%;
  position:fixed
}

.navbar__container {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.navbar__bg{
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(50, 59, 60, 0.7)
}

.navbar__logo h1 {
  color: white;
}

@media (min-width: 769px) {
  .navbar__logo h1 {
    color: white;
    font-size: 40px;
  }
} 

.navbar__logo a{
  color: white;
  text-decoration: none;
}


@media (min-width: 769px) {
  .navbar__menu {
    padding: 0px;
    overflow: hidden;
  }
} 

.navbar__menu--icon {
  font-size: 30px;
  color: white;
}

@media (min-width: 769px) {
  .navbar__menu--icon{
    display: none;
  }
}

.navbar__menu--icon2 {
  display: none;
}

.navbar__menu .list {
  display: none;
}

@media (min-width: 769px) {
  .navbar__menu .list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .navbar__menu .list .list__item a{
    text-decoration: none;
    color:#fafafa;
    font-size: 25px;
  }

  .navbar__menu .list .list__item {
    padding: 10px;
  }


  .navbar__menu .list .list__item:hover{
    background-color: rgb(46, 140, 202);
    border-radius: 5px;
  }
  
}

.menu-mobile {
  background-color: #141414;
  height: 100vh;
  width: 100%;
  position: fixed;
  align-items: flex-start;
  animation-duration: 2s;
  animation-name: aparecer;
  padding: 0 25px;
}

@keyframes aparecer {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
  }
}


.menu-mobile .navbar__menu--icon {
  display: none;
}

.menu-mobile .navbar__menu .list {
  display: block;
  position: absolute;
  list-style: none;
  color: white;
  top: 150px;
  right: 80px;
  font-size: 40px;
}


.menu-mobile .navbar__menu--icon2 {
  padding-top: 25px;
  display: block;
  color: #fafafa;
  font-size: 25px;
}

.menu-mobile .navbar__menu .list .list__item {
  margin-bottom: 50px;
}



.menu-mobile .navbar__menu .list .list__item a{
  text-decoration: none;
  color: #fafafa;
}


