.header {
  display: none;
}

.services__title {
  font-size: 35px;
}

@media (min-width: 769px) {
  .header {
    display: flex;
    justify-content: flex-start;
  }

  .header__title{
    text-align: start;
  }

  .services__title {
    display: none;
  }

}

@media (min-width: 1200px) {
  .header {
    justify-content: center;
  }

  .header__container {
    width: 1200px;
    justify-content: flex-start;
    padding: 0 25px;
  }
}
